Source: file
Maintainer: Christoph Biedl <debian.axhn@manchmal.in-ulm.de>
Homepage: https://www.darwinsys.com/file/
Standards-Version: 4.6.0
Vcs-Browser: https://git.in-ulm.de/cbiedl/file
Vcs-Git: https://git.in-ulm.de/cbiedl/file.git
Build-Depends: debhelper-compat (= 13),
    libbz2-dev,
    liblzma-dev,
    zlib1g-dev,
Priority: standard
Rules-Requires-Root: no
Section: utils

Package: file
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
    libmagic1 (= ${binary:Version}),
Breaks:
    debhelper (<< 12.2~),
Multi-Arch: foreign
Description: Recognize the type of data in a file using "magic" numbers
 The file command is "a file type guesser", a command-line tool that
 tells you in words what kind of data a file contains.
 .
 This package contains the file program itself.

Package: libmagic1
Architecture: any
Pre-Depends:
    ${misc:Pre-Depends},
Depends: ${misc:Depends}, ${shlibs:Depends},
    libmagic-mgc (= ${binary:Version}),
Suggests:
    file,
Section: libs
Priority: optional
Multi-Arch: same
Description: Recognize the type of data in a file using "magic" numbers - library
 This library can be used to classify files according to magic number
 tests. It implements the core functionality of the file command.

Package: libmagic-mgc
Architecture: any
Depends: ${misc:Depends},
Breaks:
    libmagic1 (<< 1:5.28-4~),
Replaces:
    libmagic1 (<< 1:5.28-4~),
Section: libs
Priority: optional
Multi-Arch: foreign
Description: File type determination library using "magic" numbers (compiled magic file)
 This package provides the compiled magic file "magic.mgc". It has
 been separated from libmagic1 in order to meet the multiarch
 requirements without breaking applications that expect this file
 at its absolute path.

Package: libmagic-dev
Architecture: any
Depends: ${misc:Depends},
    libmagic1 (= ${binary:Version}),
Suggests:
    file,
Section: libdevel
Priority: optional
Multi-Arch: same
Description: Recognize the type of data in a file using "magic" numbers - development
 This library can be used to classify files according to magic number
 tests.
 .
 This package contains the development files.
